<footer class="page-footer font-small rodapé-color">
    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center"> 
                <h4 class="text-dark">Siga-nos nas redes sociales</h4>

            </div>
        </div>

        <div class="row ">
            <div class="col-md-12 justify-content-center ">

                <ul class="social-network">
                    <li>
                        <a href="https://www.instagram.com/guimaths_senju/" target="_blank" class="icoInsta">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                    </li>

                    <li>
                        <a href="https://github.com/GuiMatheus" target="_blank" class="icoGitHub">
                            <i class="fa fa-github" aria-hidden="true"></i>
                        </a>
                    </li>

                    <li>
                        <a href="https://www.linkedin.com/in/guilherme-matheus99/" target="_blank" class="icoLinkedin">
                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                        </a>
                    </li>

                </ul>

            </div>
        </div>


    </div>

    <div class="footer-copyright bg-dark text-center py-3">
        <span class="text-light"> © Copyright 2021:</span>
        <a class="text-light" target="_blank" href="https://github.com/GuiMatheus">GitHub_GuiMatheus.com.br</a>

    </div>

</footer>