.btnS-color{
    color: #020da8;
}
.bgS-color:hover{
    background-color: #a5d8fb;
    color: #1b0386;

    
}
.btnN-color{
    color: #7e0000;
}
.bgN-color:hover{
    background-color: #b80303 ;
    color: #e7eb2e;

    
}