.navebar-backcolor{
    background: rgb(191,65,76);
    background: linear-gradient(317deg, rgba(191,65,76,1) 0%, rgba(242,187,167,1) 35%, rgba(115,50,62,1) 100%);
}
.fs-16{
    font-size: 16pt;
}
.pxl-7{
    padding-left: 7px;
}

a{
   cursor: pointer;
}