<div class="container-fluid" id="img-bg">

    <div class="row d-flex align-items-center">

        <div class="col-md-3">

        </div>

        <div class="col-md-6 mt-5 mb-5">

            <div class=" row d-flex justify-content-center pt-12">
                <div class="col-md-10 fundo">
                    <h1 class="text-center text-light">Cadastro</h1>

                    <div class="form-goup">
                        <label for="Nome" class="text-light">Nome</label>
                        <input class="form-control" type="text" name="nome" id="nome" placeholder="Seu Nome">
                    </div>

                    <div class="form-goup">
                        <label for="usuario" class="text-light">Usuário</label>
                        <input class="form-control" type="text" name="usuario" id="usuario" placeholder="Seu usuario">
                    </div>

                    <div class="form-goup">
                        <label for="foto" class="text-light">Link da Foto</label>
                        <input class="form-control" type="text" name="foto" id="foto" placeholder="Link da sua foto">
                    </div>
                    <div class="form-goup">
                        <label for="senha" class="text-light">Senha</label>
                        <input class="form-control" type="password" name="senha" id="senha" placeholder="Sua senha">
                    </div>

                    <div class="form-goup">
                        <label for="confirmarSenha" class="text-light"> Confirmar Senha</label>
                        <input class="form-control" type="password" name="confirmarSenha" id="confirmarSenha"
                            placeholder="Confirme sua Senha">
                    </div>


                    <div class="form-goup">
                        <label for="tipo" class="text-light">Tipo de Usuário</label>
                        <select class="form-control" name="tipo" id="tipo">
                            <option>Selecione o tipo de usuario</option>
                            <option value="normal">Normal</option>
                            <option value="admin">Administrador</option>
                        </select>
                    </div>

                    <br>
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btnc-color bgc-color mr-4">Cancelar</button>
                        <button type="submit" class="btn btna-color bga-color">Cadastrar</button>
                    </div>


                </div>
            </div>



        </div>

    </div>





</div>