<div class="container-fluid " id="img-bg">

    <div class="row d-flex align-items-center ">

        <div class="col-md-12">

            <div class="row d-flex justify-content-center pt-12">
                <div class="col-md-6 fundo">

                    <h1 class="text-center mb-3 text-light">Entrar</h1>

                    <div class="form-goup">
                        <label for="usuario" class="text-light">Usuário</label>
                        <input class="form-control" type="text" name="usuario" id="usuario" placeholder="Seu usuario">
                    </div>

                    <div class="form-goup">
                        <label for="senha" class="text-light">Senha</label>
                        <input class="form-control" type="password" name="senha" id="senha" placeholder="Sua senha">
                    </div>
                    <br>

                    <div class="d-flex justify-content-center ">
                        <button type="submit" class="btn btn-color bg-color ">Entrar</button>
                    </div>
                    <hr class="mt-5 mb-5">
                    <p class="text-center text-light">Não tem uma conta?<a href="">Cadastre-se</a>

                    </p>

                </div>

            </div>

        </div>




    </div>




</div>